body {
    padding-top: 30px;
    padding-bottom: 80px;
    font-size: 20px;
    font-weight: 300;
}


li {
    padding: 5px;
}

li:nth-child(odd) {
    background: rgba(38, 154, 188, 0.1);
    border-radius: 4px;
}

#chat-body {
    overflow-y: auto;
}

form {
    background: #fff;
}

.chat-bar-fixed {
    max-width: 1170px;
    margin: auto;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}


#login-container {
    max-width: 400px;
    margin: 0 auto;
}

.login-form {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: none;
}

.login-form input {
    font-size: 16px;
    margin-bottom: 15px;
}

.login-form button {
    font-size: 18px;
}

#signup-container {
    display: none;
    max-width: 400px;
    min-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 30px auto 0;
}

.signup-form {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form label {
    display: none;
}

.signup-form input {
    font-size: 16px;
    margin-bottom: 15px;
}

.signup-form button {
    font-size: 18px;
}

/* Center the login container */
#app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chat-column {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #2980b9;
    border-radius: 5px;
    cursor: pointer;
}

.chat-column:hover {
    background-color: #2980b9;
}
